<h1>New seance</h1>

<%= render 'form' %>

<%= if params[:cinema_id] 
  		link_to 'Back', cinema_seances_path(@cinema)
 	elsif params[:film_id] 
   		link_to 'Back', film_seances_path(@film)
 end %>

