<br><br>


<div align="center">

<h1> WhichMovie </h1>


<img src="http://imageshack.com/a/img540/5240/UbisMZ.png" width=70% auto />

<br><br>


<a href="/films" class="btn btn-primary"><span class="glyphicon glyphicon-facetime-video"></span>Mon lien</a>

</div>